<!DOCTYPE html>
{% extends 'hisha.html' %}
{% block body_blodck %}
<html>
<head>
	<title></title>
</head>
<body>
	  <h5><b>• Certified in Python.</b></h5>              
	   <h6> Systech-Trichy
        (February-2024 - May 2024)</h6><br>
      <h5><b>• Certified in Django.</b></h5>                
        <h6>Systech-Trichy
        (May-2024 - July-2024)</h6><br>
          <h5><b>• Certified in web development.</b></h5>         
        <h6>Systech-Trichy
        (July-2024 - September-2024)</h6><br>                                           

</body>
{% endblock %}
</html>
