<!DOCTYPE html>
{% extends 'hisha.html' %}
{% block body_blodck %}
<html>
<head>
	<title></title>
</head>
<body>
	    <h6><b>Title:</b></h6>
           <p>Developed an information management system.</p>
        <h6><b>Tools Used:</b></h6>
       <p><b>Frontend:</b> HTML, CSS, Bootstrap<br>     
           <b>Backend:</b> Python<br>
           <b>Database:</b> MySQL<br>       
           <b>Framework:</b> Django</p>

        <h6><b>Description:</b></h6>
            <p>Developed a full-stack web application for managing information records using<br> Django for the backend, HTML/CSS for the frontend, and MYSQL for the database management.<br> The application provides an interface for performing CRUD (Create, Read, Update, Delete) operations.</p>

        <h6><b>Outcome:</b></h6>
      <p>Successfully implemented a scalable and secure web application.<br>
      Improved task management efficiency 30%.<br>
      Enhanced user experience with responsive design   and intuitive interface.<br>
      Optimized database queries resulting in a 40% increase in data retrieval speed.</p>

</body>
{% endblock %}
</html>